<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}R3 EVENTS{% endblock %}</title>
        {# FAVICON #}
        <link rel="icon" href="img/favicon.png">
        {# Lien Fichiers Css #}
        <link href="css/app.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body class="opacity">
    <header>


        <div class="bandeau">
            <div class="divLogoBandeau">
                <img class="logoBandeau" src="{{ asset('img/logo-site-3r.png') }}" alt="logoSiteR3">
                <h3>Laissez parler vos envies</h3>
            </div>
            <div class="centerZ">
                <div>
                    {% if app.user %}
                        <div class="mb-3 utilConnecter">
                            Vous êtes connecté avec l'adresse &nbsp;<span class="spanColor">{{ app.user.email }}</span>&nbsp;| &nbsp; <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <nav class="navbar navbar-expand-lg bandeauNav">
                        <div class="container-fluid ">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                <ul class="navbar-nav  mb-2 mb-lg-0 ">
                                    <li class="nav-item ">
                                        <a class="nav-link active"  aria-current="page" href="{{ path('main_acceuil')}}">Acceuil</a>
                                    </li>
                                    <li class="hover">
                                        <a class="nav-link "  href="{{ path('app_register') }}">S'enregistrer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  href="{{ path('app_login') }}">Se connecter</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  href="{{ path('main_acceuil') }}">Créer activité</a>
                                    </li>

                                </ul>
                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Entrez un mot clé..." aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                 </div>

            </div>
        </div>


    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        <div>&copy; {{ "now"|date("Y") }} | R3-Events</div>
    </footer>
      

    </body>
</html>
