<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}R3 EVENTS{% endblock %}</title>
        {# FAVICON #}
        <link rel="icon" href="img/favicon.png">
        {# Lien Fichiers Css #}
        <link href="{{ asset('css/Style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body class="opacity">
    <header>


        <div class="bandeau">
            <div class="divLogoBandeau">
                <img class="logoBandeau" src="{{ asset('img/logo-site-3r.png') }}" alt="logoSiteR3">
                <h3>Laissez parler vos envies</h3>
            </div>
            <div class="centerZ">
                <div>
                    {% if app.user %}
                        <div class="mb-3 utilConnecter">
                            Vous êtes connecté avec le compte &nbsp<a href="{{ path('mon_compte_details',{'id':app.user.id}) }}"><span class="spanColor">{{ app.user.pseudo }}</span></a>&nbsp;| &nbsp; <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <nav class="navbar navbar-expand-lg bandeauNav">
                        <div class="container-fluid ">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse nav" id="navbarSupportedContent">
                                <ul class="nav-ul">

                                    {% if app.user %}{# page non accesible seulement en étant connceter et selon le role #}
                                    <li><a href="{{ path('mon_compte_details',{'id':app.user.id}) }}" title="monCompte">Mon compte</a></li>
                                    <li><a href="{{ path('main_acceuil') }}" title="Accueil">Accueil</a></li>
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <li><a href="{{ path('admin_dashboard') }}" title="Liste des utilisateurs">Gérer Utilisateurs</a></li>
                                    <li><a href="{{ path('admin_dashboard') }}" title="Liste des sorties">Gérer Sorties</a></li>
                                    {% endif %}
                                    {% else %}
                                    <li><a href="{{ path('main_acceuil') }}" title="Accueil">Accueil</a></li>
                                    <li><a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a></li>
                                    <li><a href="{{ path('app_register') }}" title="Créer un compte">Créer un compte</a></li>
                                    {% endif %}
                                </ul>
                                <form class=" rechercher">
                                    <input class="form-control me-2" type="search" placeholder="Entrez un mot clé..." aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                 </div>

            </div>
        </div>


    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        <div>&copy; {{ "now"|date("Y") }} | R3-Events</div>
    </footer>
      

    </body>
</html>
